<!DOCTYPE html>
<html>
<%provide(:title, "Home")%>
<div class = "center jumbotron">
<h1>Bienvenido a Livin</h1>
       <h2>
<<<<<<< HEAD
            Plataforma para facilitar la busqueda de cuartos, departamentos o roomies para estudiantes del ITAM
=======
            Plataforma para facilitar la busqueda de cuartos o departamentos para estudiantes del ITAM
>>>>>>> 45722cd7f01a3f7d89006a7c3318cb308f3998b5
        </h2>
        <%= link_to "Iniciar", inicio_path , class: "btn btn-lg btn-primary" %>    
    </div>
</html>