<!DOCTYPE html>
<html>
<%provide(:title, "Home")%>
<div class = "center jumbotron">
<h1>Bienvenido a Livin</h1>
       <h2>

            Plataforma para facilitar la busqueda de cuartos, departamentos o roomies para estudiantes del ITAM

        </h2>
        <%= link_to "Iniciar", inicio_path , class: "btn btn-lg btn-primary" %>    
    </div>
</html>