<!DOCTYPE html>
<html>
<h1>Pages#inicio</h1>
    <div class="post">
       
            <% @posts.each do |post| %>
            
                <li> Mensualidad:  <%= post.mensualidad %>. Descripci[on:  <%= post.descrip %></li>
                
            
            <% end %>
       
    </div>
</html>