<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Livin", root_path, id: "logo" %>
        <nav>
            <ul class = "nav navbar-nav navbar-right">
                <li><%= link_to "Home", inicio_path %></li>
                <li><%= link_to "Crear Cuenta", signin_path %></li>
                <li><%= link_to "Log in", login_path %></li>
            </ul>
            
        </nav>
        
    </div>    
</header>