@import "bootstrap-sprockets";
@import "bootstrap";
/*maxins variables etc*/


/*universal*/

body{
    padding-top: 60px;
}

section{
    overflow: auto;
}

textarea{
    resize: vertical;
}

.center{
    text-align: center;
    
    
}

.center h1{
    margin-bottom: 10px;
    
}



/*Tipos*/

h1, h2, h3, h4 h5,h6{
    
    line-height: 1;
}
h1{
    
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2{
    
    font-size: 1.5em;
    
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}



h3{
    font-size: 1.5em;
    
    
    li {
       padding: 10px 0;
       border-top: 1px solid #e8e8e8;
       margin-top: 15px;
       margin-top: 15px;
       font-weight: normal;
       margin-right: 600px;
       margin-left: 600px;
       float: center;
       text-align: center;
       text-align: justify;
        
    }
    
    li img{
        max-width: 650px;
        max-height: 550px;
        float: center;
        text-align: center;
        
        
        margin-right: 10px;
        margin-top: 5px;
        
        
        
    }
}

p{
    
    font-size: 1.1em;
    line-height: 1.7em;
}
/*Header*/
#logo{
 float: left;
 margin-right: 10px;
 font-size: 2.3em;
 color: #ff6800;
 text-transform: uppercase;
 letter-spacing: -1px;
 padding-top: 9px;
 font-weight: bold;
}

#logo:hover{
    color: #3cfc93;
    text-decoration: none;
    
}
/*Footer*/

footer {
    
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    margin-right: 30px;
    float: left;
}

footer ul {
    margin-right: 10px;
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 30px;

}

/*forms*/

input, textarea, select, .uneditable-input{
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    height: auto !important;
}

/*maxins*/

@mixin box_sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}


/* microposts */

.posts {
  list-style: none;
  padding: 0;
  text-align: center;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
   
  }
  .mensualidad {
    margin-top: 5em;
    padding-top: 0;
  }
  .descrip {
    display: block;
    margin-left: 60px;
   
}
}
